@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #cbcbcb;
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.container {
    background-color: #cbcbcb;
    display: flex;
    padding: 0;
    margin: 0;
    width: 1920px;
    min-height: 100%;
}

button.sea {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    top: 309px;
    left: 34px;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    border-color: #FF0054;

}

button.loa {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    top: 309px;
    left: 314px;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    border-color: #FF0054;

}

button.exp {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    top: 309px;
    left: 594px;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    border-color: #FF0054;

}

button.pro {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    top: 309px;
    left: 874px;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    border-color: #FF0054;
}

button.nav {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    top: 309px;
    right: 30px;
    width: 250px;
    height: 100px;
    border-color: #FF0054;
    border-radius: 25px;
}

button.sou {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    bottom: 158px;
    left: 34px;
    width: 250px;
    height: 100px;
    border-color: #FF0054;
    border-radius: 25px;
}

button.jok {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    bottom: 158px;
    left: 314px;
    width: 250px;
    height: 100px;
    border-color: #FF0054;
    border-radius: 25px;
}

button.cou {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    bottom: 158px;
    left: 594px;
    width: 250px;
    height: 100px;
    border-color: #FF0054;
    border-radius: 25px;
}

button.col {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    bottom: 158px;
    left: 874px;
    width: 250px;
    height: 100px;
    border-color: #FF0054;
    border-radius: 25px;
}

button.typ {
    font-size: 35px;
    background-color: #F58A07;
    position: absolute;
    bottom: 158px;
    right: 30px;
    width: 250px;
    height: 100px;
    border-color: #FF0054;
    border-radius: 25px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #FF0054;
    font-size: 65px;
    position: relative;
    width: relative;
    height: 25px;
    top: 0px;
    left: 14px;
    padding-right: 175px;
}

button:active {
    transform: scale(0.97);
    background-color: #FF0054;
    color: #ffffff;

}



The background squares:
body {
    background-color: #cbcbcb;
    display: flex;
    height: 100vh;
    align-items: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 2200px;
}
.square {
    height: 45px;
    width: 45px;
    margin: 2.5px;
    background-color: #dbdbdb;
    transition: 2s ease;
    border-radius: 50px;
    margin-left: 9.8px;
}

.square:hover {
    transition-duration: 0s;
}

.btn {
    background-color: #FF0054;
    color: #cbcbcb;
    border: 0;
    padding: 5px 30px;
    margin: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.97);
}

.btn:disabled {
    background-color: #cbcbcb;
    cursor: not-allowed;
}